# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Others
*.cache
